{% extends 'common.html' %}
{% block content %}

    <h3 align="center">student and Lecturers department</h3>

    <form method="post">
    {% csrf_token %}

       <table align="center">
           <tr>
               <th><input type="text" name="d1" id="dname" placeholder="Enter Department" required></th>
               <th><button type="submit">Search</button></th>
           </tr>
       </table>


    </form>

    <h3 style="text-align: center"><a href="{% url 'student'%}" class="btn btn-info">Go to Student</a></h3>
    <h3 style="text-align: center"><a href="{% url 'lect'%}" class="btn btn-warning">Go to Lecutrer</a></h3>

    <br><br>



    {% if lm %}
        <h2 style="text-align: center;color: yellow">Lecturer Details</h2>
        <table border="2" align="center">
    <thead style="text-align: center">
    <tr>
        <th>Idno</th>
        <th>Lecturer Name</th>
        <th>College</th>
        <th>Subject</th>

    </tr>
    </thead>
    <tbody style="text-align: center">
    {% for x in lm %}
        <tr>
        <th>{{ x.lecturer_id }}</th>
        <th>{{ x.l_name }}</th>
        <th>{{ x.clg }}</th>
        <th>{{ x.subject }}</th>



    </tr>

    {% endfor %}

    </tbody>

    </table>

    {% endif %}






    {% if sm %}
        <h2 style="text-align: center;color: greenyellow">Student Details</h2>
         <table border="2" align="center">
    <thead style="text-align: center">
    <tr>
        <th>Rollno</th>
        <th>Student Name</th>
        <th>Email</th>
        <th>college Name</th>
    </tr>
    </thead>
    <tbody style="text-align: center">

    {% for x in sm %}
         <tr>
         <th>{{ x.rollno }}</th>
        <th>{{ x.s_name}}</th>
        <th>{{ x.email }}</th>
        <th>{{ x.clg_id }}</th>


    </tr>

    {% endfor %}


    </tbody>

    </table>

    {% endif %}




{% endblock %}